body{
    background-color: black;
    color: white;
    font-family: 'Inter';
    padding: 50px;
   
}
.container{
    padding-top: 55px;  
  box-sizing: border-box;
    width: 960px;
   height: 570px;
   border: 1px solid white;
  padding: 40px;
  color: white;
  margin-top: 300px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: black;
  }
  
  button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 40px 0px;
    width:135px;
    cursor: pointer;
  }
  form{
    margin-left: 25px;
  }